* {
  box-sizing: border-box;
}

body,
.content,
.bg-home {
  height: 100%;
  width: 100%;
  background-color: #fef9f6;
  overflow: auto;
}

.topo {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}

.topo span {
  align-self: center;
  cursor: pointer;
  padding: 6px;
}

.topo span:hover {
  background-color: rgb(56, 54, 54);
}

.menu i {
  color: #fff;
  font-size: 2.3rem;
}

.bg-content {
  height: calc(100vh - 50px);
}

.sidebar {
  background: #ecedee;
  width: 44px;
  display: block;
  transition: 0.5s;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  top: 50px;
}

.activeSidebar {
  width: 244px !important;
  box-shadow: 2px 0 5px 1px rgba(0, 0, 0, 0.1);
}

.activeLogo {
  display: block !important;
}

.activeH6 {
  display: block !important;
  text-align: center;
}

.activeNav {
  display: block !important;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: none;
  margin: 0 auto;
}

h6 {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

ul a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  transition: 0.5s;
  white-space: nowrap;
}

ul li a:hover {
  background: #e4a11b;
}

span i {
  font-size: 1.5rem;
}

div img {
  width: 100%;
  height: 100%;
}

.image {
  height: 28px;
  width: 28px;
}

main {
  margin-top: 50px;
  margin-left: 30px;
  height: calc(100vh - 50px);
  width: 100vw;
  transition: 0.5s;
}

.activeMain {
  margin-left: 244px;
}

.disable {
  display: none;
}

#msgError,
#msgSuccsess {
  width: auto !important;
  position: fixed;
  top: 25px;
  left: 30%;
  transition: 0.4s;
  z-index: 4;
}
#msgErrorPedido,
#msgSuccsessGPedido {
  position: fixed;
  top: 0px;
  left: 30%;
  transition: 0.4s;
  width: auto !important;
  z-index: 5;
}

#msgError i,
#msgSuccsess i,
#msgErrorPedido i {
  font-size: 1.8rem;
}

#modalContent.hide,
#modal.hide {
  opacity: 0;
  pointer-events: none;
}
#modal.hide {
  top: 0;
}

#modalContent,
#modal {
  transition: 0.3s;
  opacity: 1;
}

#modalContent {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal {
  width: 20%;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  top: 30%;
  left: 30%;
  padding: 0 10px;
}
#modalTitulo {
  border-bottom: solid 1px #a29fa2;
  color: #000;
  padding: 0.5rem;
}
#modalTitulo h3 {
  margin: 0;
  padding: 5px 0;
}

#modalBody {
  padding: 0.5rem;
  border-bottom: solid 1px #a29fa2;
  color: #000;
}

#modalBody p {
  margin: 0;
  padding: 5px 0;
}
#btnModal {
  padding: 0.5rem;
  display: flex;
  justify-content: right;
  gap: 10px;
}
#btnPedido {
  display: none;
}

#modalContent2{
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}
#modal2{
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  top: 30%;
  left: 30%;
  padding: 0 10px;
}
#modalTitulo2 {
  border-bottom: solid 1px #a29fa2;
  color: #009605;
  padding: 0.5rem;
  text-align: center;
}
#modalTitulo h3 {
  margin: 0;
  padding: 5px 0;
}

#modalBody2 {
  padding: 0.5rem;
  border-bottom: solid 1px #a29fa2;
  color: #000;
  font-size: 1.3rem;
}
#modalBody2 p {
  margin: 0;
  padding: 5px 0;
}
#btnModal2 {
  padding: 0.5rem;
  display: flex;
  justify-content: right;
  gap: 10px;
}
#modalContent2.hide,
#modal2.hide {
  opacity: 0;
  pointer-events: none;
}
#modal2.hide {
  top: 0;
}

#modalContent2,
#modal2 {
  transition: 0.3s;
  opacity: 1;
}
.bg-table{
  background: #fff5d7;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}